.icss-editor {
    height: 79.5vh;
    position: relative;
}

#monaco-editor {
    height: 100%;
}

.icss-body {
    padding-right: 20px;
}

.icss-options {
    margin-top: 10px;
}

.icss-title-wrapper {
    display: flex;
    align-items: center;
}

.icss-theme-options:before {
    margin-left: 10px;
    margin-right: 5px;
    content: '\2014';
}

.button.is-busy {
    color: #fff !important;
    background-size: 100px 100% !important;
    background-image: linear-gradient(-45deg,#0085ba 28%,#005d82 0,#005d82 72%,#0085ba 0) !important;
    border-color: #00435d !important;
    animation: busy-animation 2.5s linear infinite !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wp-core-ui .button-primary.button.button-danger {
    background: #de4444;
    border-color: #c33d3d;
    box-shadow: 0 1px 0 #c33d3d;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #c33d3d, 1px 0 1px #c33d3d, 0 1px 1px #c33d3d, -1px 0 1px #c33d3d;
}

.icss-error-block {
    padding: 10px;
    position: absolute;
    border: 1px solid #ff000047;
    bottom: 0;
    left: 0;
    background-color: white;
    display: none;
    z-index: 200;
}

.icss-error-block code {
    color: black;
    text-shadow: 0 1px white;
    direction: ltr;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background-color: white;
}

@keyframes busy-animation {
    0% {
        background-position: 200px 0;
    }
}

/* Customizer */
.icss-fullscreen-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999999999;  
    display: grid;
    grid-template-columns: 400px auto;
}

.icss-sidebar {
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
}

.icss-sidebar .icss-editor {
    height: 100%;
}

.icss-frame {
    display: none;
    width: 100%;
    height: 100%;
}

.icss-back {
    margin-top: 20%;
}

.icss-options-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background: #23282d;
    width: 100%;
}

.icss-options-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 100%;
    justify-content: space-between;
}

.icss-options-wrapper a {
    text-decoration: none;
    color: #9ea3a8;
}

.icss-options-wrapper a:hover {
    color: #00b9eb;
}

.icss-options-menu {
    width: 300px;
    height: 300px;
    background: #23282d;
    color: white;
    position: absolute;
    right: 0;
    display: none;
    left: 100%;
    padding: 15px;
}

.icss-options-menu .icss-theme-options {
    display: grid;
    grid-template-columns: 50% 50%;
}

.icss-options-menu .icss-theme-options label {
    display: flex;
    align-items: center;
}

.icss-options-menu .icss-theme-options:before {
    display: none;
}